# Ignore all files in the root directory
*

# Whitelist specific files and directories
!.gitignore
!LICENSE
!README.md
!include/
!examples/

# Source files
!src/*.c

# Header files
!include/*.h

# Example files
!examples/*.cpp
